<table border="1">
<tr>
  <th>出版社</th><th>価格</th>
</tr>
<%= @books.each do |book| %>
  <tr>
    <td><%= book.publish %></td>
    <td><%= number_with_precision(book.avg_price, precision: 1) %>円</td>
  </tr>
<% end %>
</table>